<div class="fiddles-container">
  <h1>All Sandboxes</h1>
  <% if (fiddles.length === 0) { %>
    <%= 'There are no sandboxes! :(' %>
  <% } else { %>
    <table class="table table-condensed">
      <% fiddles.forEach(function (fiddle) { %>
        <tr>
          <td>
            <a href="#/fiddles/<%= fiddle.id %>">Sandbox <%= fiddle.escape('id') %></a>
          </td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</div>