<section id="output">
  <iframe></iframe>
</section>

<form id="codeform">
  <textarea class="text" id="mycode" name="fiddle[method_string]">function f(x,y) {}</textarea>
</form>

<div id="editor"></div>

<input type="submit" value="Submit" form="codeform">
<button id="mybutton">Render</button>