<section id="output">
  <iframe></iframe>
</section>

<form id="codeform">
  <textarea class="text" id="mycode" name="fiddle[method_string]"><%= fiddle.escape("method_string") %></textarea>
</form>

<div id="editor"></div>
<br>
<% if ((typeof fiddle.attributes.user_id === "undefined") || (fiddle.attributes.user_id === current_user.id)) { %>
<input type="submit" value="Save" form="codeform">
<% } %>
<button id="mybutton">Render</button>