<div class="fiddles-container">
  <h1>My Sandboxes</h1>
  <% if (Object.keys(fiddles).length === 0) { %>
    <%= 'There are no sandboxes! :(' %>
  <% } else { %>
    <table class="table table-condensed">
      <% for (var i=0; i<Object.keys(fiddles).length; i++) { %>
        <tr>
          <td>
            <a href="#/fiddles/<%= fiddles[i].id %>">Sandbox <%= fiddles[i].id %></a>
          </td>
        </tr>
      <% } %>
    </table>
  <% } %>
</div>