/* remove bullet */
ul {
  list-style: none;
}

/* default font that will inherit */
body {
  font-family: sans-serif;
}

/* UTILS */

.group:after {
  content: "";
  display: block;
  clear: both;
}

a { cursor: pointer; }


/* Fiddle page */

#editor {
  position: relative;
  width: 650px;
  height: 600px;
  border: 1px solid yellow;
}

#output iframe {
  position: absolute;
  width: 550px;
  height: 600px;
  left: 700px;
}

.form {
  margin: auto;
  width: 400px;
}



/* static backbone page */

.fiddles-container {
  margin: auto;
  width: 320px;
  text-align: center;
}

#content {
  padding-left: 20px;
}



