/* remove bullet */
ul {
  list-style: none;
}

/* default font that will inherit */
body {
  font-family: sans-serif;
}

/* UTILS */

.group:after {
  content: "";
  display: block;
  clear: both;
}

a { cursor: pointer; }


/* Fiddle page */

#editor {
  position: relative;
  width: 650px;
  height: 700px;
  border: 1px solid yellow;
}

#output iframe {
  position: absolute;
  width: 650px;
  height: 700px;
  left: 700px;
}