<h2>JavaScript Sandbox.com </h2>

<a href="#">Home</a>
<a href="#/myfiddles">My Sandboxes</a>
<a href="#/fiddles/new">New Sandbox</a>

<% if (current_user.attributes.email) { %>
  <%= current_user.escape('email') %>
  <a class="sign-out">Sign Out</a>
<% } else { %>
  <a class="sign-up">Sign Up</a>
  <a class="sign-in">Sign In</a>
<% } %>

<hr>

